@{
	ViewData["Title"] = "Liên hệ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Liên hệ chúng tôi</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

<!--================Contact Area =================-->
	<section class="contact_area section_gap_bottom">
		<div class="container">
			<iframe id="mapBox" class="mapBox col-lg-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2961407722814!2d106.6751465!3d10.788615499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752efde8939bfb%3A0xc341fca129614bb5!2sB%C3%88O%20store!5e0!3m2!1svi!2s!4v1700287292803!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			<div class="row">
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<i class="lnr lnr-home"></i>
							<h6>429/17E Đ. Lê Văn Sỹ, Phường 12, Quận 3, Thành phố Hồ Chí Minh</h6>
							<p>Địa chỉ shop</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-phone-handset"></i>
							<h6><a href="#">0377437266</a></h6>
							<p>Mở từ 8g đến 21g mỗi ngày</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-envelope"></i>
							<h6><a href="#">beostore@gmail.com</a></h6>
							<p>Liên hệ qua E-mail</p>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
				</div>
			</div>
		</div>
	</section>
	<!--================Contact Area =================-->