<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="~/Layout/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="~/Layout/css/linearicons.css">
	<link rel="stylesheet" href="~/Layout/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/Layout/css/themify-icons.css">
	<link rel="stylesheet" href="~/Layout/css/bootstrap.css">
	<link rel="stylesheet" href="~/Layout/css/owl.carousel.css">
	<link rel="stylesheet" href="~/Layout/css/nice-select.css">
	<link rel="stylesheet" href="~/Layout/css/nouislider.min.css">
	<link rel="stylesheet" href="~/Layout/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="~/Layout/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="~/Layout/css/magnific-popup.css">
	<link rel="stylesheet" href="~/Layout/css/main.css">
</head>

<body>

	@await Component.InvokeAsync("shoes_final_exam.Components.Navbar")

	@RenderBody()

	@await Component.InvokeAsync("shoes_final_exam.Components.Footer")

	<script src="~/Layout/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="~/Layout/js/vendor/bootstrap.min.js"></script>
	<script src="~/Layout/js/jquery.ajaxchimp.min.js"></script>
	<script src="~/Layout/js/jquery.nice-select.min.js"></script>
	<script src="~/Layout/js/jquery.sticky.js"></script>
	<script src="~/Layout/js/nouislider.min.js"></script>
	<script src="~/Layout/js/jquery.magnific-popup.min.js"></script>
	<!--gmaps Js-->
	<script src="~/Layout/js/gmaps.min.js"></script>
	<script src="~/layout/js/main.js"></script>
</body>

</html>