
<div class="sidebar-filter" style="margin-top: 0px;">
	<div class="top-filter-head">Lọc sản phẩm</div>
	<div class="common-filter">
		<div class="head">Thương hiệu</div>
		<form action="#">
			<ul>
				<vc:category></vc:category>
			</ul>
		</form>
	</div>
	<div class="common-filter">
		<div class="head">Size</div>
		<form action="#">
			<ul>
				<li class="filter-list"><input class="pixel-radio" type="checkbox" id="apple" name="brand"><label for="apple">Apple<span>(29)</span></label></li>
				<li class="filter-list"><input class="pixel-radio" type="checkbox" id="asus" name="brand"><label for="asus">Asus<span>(29)</span></label></li>
				<li class="filter-list"><input class="pixel-radio" type="checkbox" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span></label></li>
				<li class="filter-list"><input class="pixel-radio" type="checkbox" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span></label></li>
				<li class="filter-list"><input class="pixel-radio" type="checkbox" id="samsung" name="brand"><label for="samsung">Samsung<span>(19)</span></label></li>
			</ul>
		</form>
	</div>
	<div class="common-filter">
		<div class="head">Giá tiền</div>
		<div class="price-range-area">
			<div id="price-range"></div>
			<div class="value-wrapper d-flex">
				<div class="price">Price:</div>
				<span>$</span>
				<div id="lower-value"></div>
				<div class="to">to</div>
				<span>$</span>
				<div id="upper-value"></div>
			</div>
		</div>
	</div>
</div>