
<div class="sidebar-filter" style="margin-top: 0px;">
	<div class="top-filter-head">Lọc sản phẩm</div>
	<div class="common-filter">
		<div class="head">Thương hiệu</div>
		<form action="#">
			<ul>
				@await Component.InvokeAsync("shoes_final_exam.Components.Category")
			</ul>
		</form>
	</div>
	<div class="common-filter">
		<div class="head">Size</div>
		<form action="#">
			<ul>
				@await Component.InvokeAsync("shoes_final_exam.Components.Size")
			</ul>
		</form>
	</div>
</div>