@model shoes_final_exam.Models.AuthenticationModels.UserLoginModel


<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Đăng nhập</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="row">
		<div class="col-md-4">

		</div>
	</div>
	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="~/Layout/img/login.jpg" alt="">
						<div class="hover">
							<h4>Bạn là khách hàng của shop</h4>
							<p>Nếu bạn muốn mua hàng ở cửa hàng chúng tôi, bạn có thể tạo tài khoản bằng cách ấn vào nút dưới</p>
							<a asp-action="Register" asp-controller="Account" class="primary-btn">Tạo một tài khoản</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Đăng nhập</h3>
						<form asp-action="Login" class="row login_form" method="post" id="contactForm" novalidate="novalidate">
							
							<div class="col-md-12 form-group">
								<input asp-for="Email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
							
							<div class="col-md-12 form-group">
								<input type="password" asp-for="Password" class="form-control" id="password" name="password" placeholder="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu'" />
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							<div asp-validation-summary="All" class="text-danger col-md-12"></div>
							<br />
							<a asp-action="ForgotPassword" asp-controller="Account" style="color:#fd7e14;padding:15px;">Quên mật khẩu</a>
							<div class="col-md-12 form-group">
								<input style="background:#fd7e14" type="submit" value="Đăng nhập" class="btn btn-primary" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->