
        <!-- partial:~/LayoutAdmin/partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-text d-flex flex-column" style="margin-left:0px">
                  <span class="font-weight-bold mb-2">@User.Identity.Name</span>
                  <span class="text-secondary text-small">Admin</span>
                </div>
              </a>
            </li>
            
            <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Category">
                <span class="menu-title">Quản lý hãng</span>
                <i class="mdi mdi-account menu-icon"></i>
              </a>
            </li>
            
            <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Product">
                <span class="menu-title">Quản lý sản phẩm</span>
                <i class="mdi mdi-account menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Order">
                    <span class="menu-title">Quản lý hóa đơn</span>
                    <i class="mdi mdi-account menu-icon"></i>
                </a>
            </li>
            
          </ul>
        </nav>
        <!-- partial -->