    @using shoes_final_exam.Models
@{
	ViewData["Title"] = "Giỏ hàng";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Thanh toán</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-9">
                    <h3>Chi tiết đơn hàng</h3>
                        <div class="order_box">
                            <h2>Sản phẩm mua hàng của bạn</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach(var item in Model.CartItems)
                                {
                                    <tr>
                                        <td><p>@item.ProductName</p></td>
                                        <td><p>x @item.Quantity</p></td>
                                        <td><p>@item.ProductPrice.ToString("N0")đ</p></td>
                                    </tr>
                                }
                                    <tr>
                                        <td><h5>Tổng cộng</h5></td>
                                        <td></td>
                                    <td><h5>@Model.GrandTotal.ToString("N0")đ</h5></td>
                                    </tr>
                            </tbody>
                            </table>
                            <a class="primary-btn" asp-action="Add" asp-controller="Checkout">Đặt hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->
